* {
  font-family: "Karla", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
/* navbar */
.nav-text {
  font-size: 17px;
}
#logo {
  height: 55px;
  max-width: 120px;
}
/* .nav-text:hover {
  color: #f9ad4a;
} */
/* background-image */
.bg-img {
  background-color: #222;
}
.bg-img img {
  opacity: 0.64;
  height: auto;
  width: auto;
  min-height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: absolute;
}
.img-text {
  letter-spacing: 2px;
  font-family: "Rubik", sans-serif;
  color: #fff;
  font-size: 6vw;
  position: relative;
  text-align: center;
  padding-top: 20%;
  height: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 1.3ms;
}
@media (max-width: 768px) {
  .img-text h1,
  h3,
  h6 {
    font-size: 3vw;
  }
}
@media (max-width: 632px) {
  .img-text h6 {
    padding-top: 30%;
  }
}

/* cards */
.cards {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  opacity: 1;
  flex-flow: wrap;
  column-gap: 5px;
  row-gap: 40px;
}
#card-1,
#card-2 {
  margin-top: 70px;
}

.card {
  width: auto;
  height: auto;
  max-width: 600px;
  max-height: fit-content;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #fff2f2;
  transition: 0.3s;
  overflow: hidden;
  flex-direction: row;
}
.card:hover {
  box-shadow: 0px 32px 80px -24px rgba(0, 0, 0, 0.24);
  transform: scale(var(--e-transform-scale, 1.1));
}
.card-body {
  padding: 40px 64px 40px 40px;
  overflow: hidden;
  font-size: 17px;
  font-family: "Karla", sans-serif;
  color: #4a4a4a;
}
.card-body img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 27px;
  position: absolute;
}
.sname {
  font-size: 17px;
  font-weight: bolder;
  padding-left: 100px;
  padding-bottom: 35px;
}
.bg-img-end {
  width: 100%;
  height: 100%;
  background-color: #222;
}
/* end-content-divs */
/* footer */
.footer {
  width: 100%;
  height: auto;
  background-color: #222;
  position: sticky;
  display: flex;
  padding: 10px 0;
  overflow: hidden;
  row-gap: 40px;
  font-size: 17px;
}
.fot-1 {
  color: #fff;
  padding-left: 70px;
}
.fot-1 ul {
  list-style-type: none;
}
.fot-1 ul li a {
  list-style-type: none;
  font-style: normal;
  color: #fff;
}
/* #fot-end p {
  color: #fff;
  padding-top: 6px;
  padding-left: 100px;
}
#fot-end span {
  color: #f9ad4a;
}
#fot-end h4 {
  color: #fff;
  padding-left: 100px;
}
#fot-end {
  display: flex;
} */
#fot-end p {
  color: #fff;
  padding-right: 68%;
  padding-left: 20px;
}
#fot-end-1 span {
  color: #f9ad4a;
}
#fot-end-1 h4 {
  color: #fff;
  padding-left: 20px;
}
